.todo-list {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.todo-item {
  width: 25rem;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex: 0;
}

.data-row {
  width: 100%;
}

.data-row.strike {
  text-decoration: line-through;
  color: var(--color-disabled);
}

.data-row input {
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  font-size: inherit;
  color: var(--color-main-light);
}
